# Node.js API Gateway
PORT=3000
NODE_ENV=production
PYTHON_SERVICE_URL=http://python_ml:8000
REDIS_URL=redis://redis:6379

# Python ML Service
PYTHON_PORT=8000
MODEL_PATH=/app/models/OceanEmbed_Prototype.pt
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=ocean_db
POSTGRES_USER=ocean_user
POSTGRES_PASSWORD=ocean_secret_pass
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=ocean-data
MINIO_USE_SSL=false